# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
Desktop.ini

# Logs e arquivos temporários
*.log
*.tmp

# Ferramentas de qualidade
node_modules/
relatorios-lighthouse/
